$color-theme-white: #fff;
$global-font-title: #07142e;
$global-font-color: #6f7f92;
$global-body-bgcolor: #f2f7ff;
$color-theme-primary: #2f65b9;
$border-color-light: #f1f1f1;
$color-theme-primary-light: #eaeff8;
$color-theme-success: #00c792;
$color-theme-orange: #f07a3a;

$font-size-h3: 1.6em;
$font-size-h4: 1.4em;
$font-size-h5: 1.3em;
$font-size-normal: 1em;
$font-size-small: 0.75em;
$font-size-body: 1em;

$highlight-font-family: "Plus Jakarta Sans",sans-serif;

$font-line-height-body: 1.75;

$border-radius: 0.313em;

$letter-spacing-one: 0.0625em;

$global-box-shadow: 0px 14px 54px rgba(0,0,0,0.03);