.nav {
    grid-area: n;
    background-color: #9A9C6E;
    padding: 20px;
    font-size: 20px;
  }

.item a{
    color: #f7f2ed;
    text-decoration: none;
}

.item a.active{
    color: #5A533C;
}
.sidebar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.friends {
    padding: 50px 20px 5px 20px;
    color: #a46c34;
    font-size: 35px;
}
.sidebarBlock{

}
.sidebarElements {
    display: flex;
    justify-content: space-between;
    color: #f7f2ed;
    font-size: 15px;
    text-align: center;
}