.dialogs {
    dispay: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;


}

.dialogsItems {
    padding: 10px;
    background-color: red;

}
.dialogsItems .active {
    color: white;
}


.messages {
    padding: 10px;
    background-color: green;
}

.messages .message {

}