.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;
}

.nameMessages {
    color: #4b4c36;
    font-size: 20pt;
    border-bottom: #9a9c6e solid 1px;
    margin: 0 20px 0px 20px;
    text-align: center
}

.names {
    margin-top: 20px;
    font-size: 12pt;
    position: relative;
}

.dialogs img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.dialogsItems {
    font-size: 25pt;
    padding: 10px;
    font-weight: bold;
    color: #a46c34;
    border-right: #9a9c6e solid 1px;
}

.dialogName {
    padding-left: 70px;
    position: absolute; /* 2 */
    top: 50%; /* 3 */
    transform: translate(0, -50%) /* 4 */
}

/*блок сообщений слева*/

.blockMessage {
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    background-color: #9a9c6e;
    color: #f7f2ed;
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, #9a9c6e 0);
}

.message {
    display: flex;
    background-color: #c8bd92;
    padding: 10px 10px 10px 30px;
    align-items: flex-end;
}

.name {
    font-weight: bold;
    color: #a46c34;
    font-size: 17px;
}

.text {
    max-width: 300px;
    min-width: 150px;
    word-wrap: break-word;
    color: #f7f2ed;
    font-size: 15px;
}

.message img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

/*блок сообщений справа*/

.blockMessageRight {
    border-radius: 10px 10px 0px 10px;
    padding: 10px;
    background-color: #9a9c6e;
    color: #f7f2ed;
}

.angleRight {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 15px 0px, rgba(0, 0, 0, 0) 15px, #9a9c6e 0);
}

.messageRight {
    display: flex;
    background-color: #c8bd92;
    padding: 10px 30px 10px 10px;
    direction: rtl;
    align-items: flex-end;
}

.messageRight img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    float: right;
}
